[submodule "external/walletkit"]
	path = external/walletkit
	url = https://github.com/blockset-corp/walletkit.git
	fetchRecurseSubmodules = true
[submodule "external/mobile-font"]
	path = external/mobile-font
	url = ../../breadwallet/mobile-font.git
	update = none
[submodule "external/google-services"]
	path = external/google-services
	url = ../../breadwallet/google-services.git
    update = none
[submodule "external/in-app-i18n"]
	path = external/in-app-i18n
	url = ../../breadwallet/in-app-i18n.git
	update = none
[submodule "external/redacted-compiler-plugin"]
	path = external/redacted-compiler-plugin
	url = https://github.com/ZacSweers/redacted-compiler-plugin.git
	fetchRecurseSubmodules = true
