name: Native

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  gradle:
    strategy:
      matrix:
        os: [macos-latest] #windows-latest, ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Cache Build files
        uses: actions/cache@v2
        if: ${{ !startsWith(matrix.os, 'windows') }}
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}
      #      - uses: eskatos/gradle-command-action@v1
      #        name: Test Windows Target
      #        if: ${{ startsWith(matrix.os, 'windows') }}
      #        with:
      #          arguments: win64Test
      - uses: eskatos/gradle-command-action@v1
        name: Test Apple Targets
        if: ${{ startsWith(matrix.os, 'macos') }}
        with:
          arguments: iosX64Test #macosTest tvosTest watchosX86Test
      #      - uses: eskatos/gradle-command-action@v1
      #        name: Test Linux Target
      #        if: ${{ startsWith(matrix.os, 'ubuntu') }}
      #        with:
      #          arguments: linuxX64Test
      - name: Archive Reports
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: reports
          path: build/reports/
